# Entorno de Python y Caché
.venv/
venv/
__pycache__/
*.pyc

# Archivos de Desarrollo y Base de Datos (No necesarios en GitHub Pages)
CALTEC.xlsx
caltec.db
Mapas vectoriales/
Fotos/
log_props.txt

# Scripts de Generación/Desarrollo Backend
export_static_data.py
export_geo_data.py
make_static_html.py
simplify_*.py
consolidate.py
prueba_inspect.py
app/prueba.py
app/migrate_to_sqlite.py
app/templates/

# Archivos temporales de sistema
.DS_Store
Thumbs.db
